<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" name="RoutingTest" packages="org.apache.logging.log4j.test">
  
  <Properties>
    <Property name="filename">./logs</Property>
  </Properties>
 
  <Appenders>
       <Console name="STDOUT" target="SYSTEM_OUT">
          <PatternLayout pattern="%d{hh:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
       </Console>
       
       <RollingFile name="Rolling-${sd:type}" fileName="${filename}/automation.log"
                       filePattern="${filename}/automation-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/> 
            <SizeBasedTriggeringPolicy size="5000" />
        </RollingFile>
 </Appenders>
  
  
  <Loggers>
    <Root level="debug"><!--Here you can use multiple log levels All < Trace < Debug < Info < Warn < Error < Fatal < Off/-->
      <AppenderRef ref="STDOUT"/>
      <!--AppenderRef ref="Rolling-${sd:type}"/-->
    </Root>
  </Loggers>
 
</Configuration>